.ios, .md {
 
	cocheras-page {
		ion-item {
		  background-color: #f37a59;
		  border-bottom: none !important;
		}

		ion-label {
		  background-color: transparent;
		  white-space: normal;
		}

		ion-item-sliding {
		  margin: 5px;
		}
		
		.selectDate{
			background-color: transparent !important;
			text-align: left;
			font-size: small;
			font-style: italic;
		}
		
		.labelUser{
			background-color: #CBECF0 !important;
			text-align: right;
			font-size: small;
			font-style: italic;
		}
		
		.itemDisponible{
			background-color: #94C462 !important;
		}

		.itemSuReserva{
			background-color: #36A2C4 !important;
		}
		
		.itemReservaParcial{
			background-color: #F4FA58 !important;
		}
		
		.itemReservaCompleta{
			background-color: #FA5858 !important;
		}
	}
}