.ios, .md {
 
	cocheras-page {
		ion-item {
		  background-color: #f37a59;
		  border-bottom: none !important;
		}

		ion-label {
		  background-color: transparent;
		  white-space: normal;
		}

		ion-item-sliding {
		  margin: 10px;
		}
		
		.selectDate{
			background-color: transparent !important;
			text-align: right;
		}
		
		.labelUser{
			background-color: #edf6f7 !important;
			text-align: center;
		}
		
		.itemDisponible{
			background-color: #2ec95c !important;
		}

		.itemSuReserva{
			background-color: #a4e6b8 !important;
		}
		
		.itemReservaParcial{
			background-color: #f8f968 !important;
		}
		
		.itemReservaCompleta{
			background-color: #f1861e !important;
		}
	}
}